MDK-ARM/Objects/
MDK-ARM/Listings/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvgui.*
MDK-ARM/*.bak
MDK-ARM/JlinkLog.txt
MDK-ARM/JlinkSettings.ini
*.o
*.d
*.axf
*.hex
*.bin
*.map
*.dep
*.tra
*.crf
*.iex
*.lst
*.lnp
*.ini
EventRecorderStub.scvd
#系统文件
desktop.ini
Thumbs.db
.DS_Store
